<h2 class="title is-1 has-text-centered">Your Cheesefolio</h2>
<div class="container is-max-desktop">
    <table class="table is-fullwidth">
        <tr>
            <td>Username</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{bio}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{city}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{state}}</td>
        </tr>
        <tr>
            <td>My Favorite Cheeses</td>
            <td>
            {{#each cheeses}}
            <li>{{this}}</li>
            {{/each}}
            </td>
        </tr>
    </table>
</div>